<section class="container-fluid vh-100 bg">
    <div class="">
        <h2 class="title">Perfil</h2>
    </div>

    <div class="m-3 bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label text-white" for="typeTituloX">Nome</label>
                        <input type="text" id="typeTituloX" class="form-control bg-transparent text-white"  [(ngModel)]="name" disabled/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label text-white" for="typeDescricaoX">Nome de usuário</label>
                        <input type="text" id="typeDescricaoX" class="form-control bg-transparent text-white"  [(ngModel)]="username" disabled/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label text-white" for="typeDescricaoX">Email</label>
                        <input type="text" id="typeDescricaoX" class="form-control bg-transparent text-white"  [(ngModel)]="email" disabled/>
                </div>
            </div>


        </div>
    </div>
</section>