.bg{
    background: rgb(66,60,60);
    background: radial-gradient(circle, rgba(66,60,60,1) 0%, rgba(0,0,0,1) 100%);
    font-family: Open Sans;
    font-weight: 800;
    border-radius: 5px;
    overflow-y: auto;
}

.title {
    color: white;
    font-size: 36px;
    font-family: Open Sans;
    font-weight: 800;
    word-wrap: break-word
}

/* Alterando a cor do placeholder dos inputs */
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.custom-row {
    height: 70px;
    padding:10px;
}

.custom-row:hover {
    cursor: pointer;
    background: rgba(66,60,60,0.8);
}

.text-white span.block {
    display: block;
  }

.botaocatalogo {
    background-color: #72BCA5;
    border-color: white;
    transition-duration: 0.2s;
    height: 80px; 
    margin: 2.5% 0% 0% 2.5%; 
    width: 22%;
}

.botaocatalogo:hover {
    background-color: #5BA18C;
}